.app {
  &__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: rgb(29, 131, 131);
    
   
  }

  &__heading {
    display: flex;
    place-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: rgb(255, 255, 255);
  
  }
  &__logo {
    max-width: 170px;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #ebeaea; /* Logoya sınır ekledim */
    box-shadow: 14px -1px 9px 7px rgba(173, 191, 226, 0.993);
    margin-left: 5px;
    
  }
 
}
